{
  "presets":
  [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": {
          "browsers": ["last 2 Chrome versions"],
          "node": "current"
        },
        "useBuiltIns": "entry",
        "debug": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ]
}
