:root {
    --b-font-size: 18px;
    --b-bg-color: #498CEC;
    --b-color: #FFFFFF
}

html {
    font-size: var(--b-font-size);
}

body {
    font-size: 1rem;
    background-color: var(--b-bg-color);
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .container {
        max-width: 768px;
    }
}

@media (min-width: 640px) and (max-width: 767px){
    .container {
        max-width: 640px;
    }
}

.mt-8 {
    margin-top: 8px;
}
